<template>
  <div class="home">
    <v-container>
      <v-card class="home-bar d-flex flex-column flex-md-row" flat>
        <div class="home-title">
          Featured
          <span>Creators</span>
        </div>

        <div class="search-wrap">
          <v-text-field
            solo
            color="#837490"
            label="Search"
            flat
            v-model.lazy="searchText"
            background-color="#FFF7F7"
            class="search-field"
          >
            <v-icon slot="append" color="black">mdi-magnify</v-icon>
          </v-text-field>
        </div>
      </v-card>
    </v-container>

    <Carousel :searchText="searchText" />
  </div>
</template>

<script>
import Carousel from "@/components/Carousel";

export default {
  name: "Home",
  components: { Carousel },
  data() {
    return {
      user: null,
      searchText: ""
    };
  },
  mounted() {
    if (!localStorage.user && this.$router.currentRoute.name !== "login") {
      this.$router.replace({ name: "login" });
    }
  },
  created() {
    if (localStorage.user) this.user = JSON.parse(localStorage.user);
  }
};
</script>

<style lang="scss" scoped>
.home-bar {
  margin-bottom: 40px;
}

.home-title {
  font-weight: bold;
  font-size: 48px;
  margin-right: auto;
  span {
    color: #e73348;
    font-size: 48px;
  }
}

.search-wrap {
  width: 260px;
  align-self: center;
}

.search-field {
  padding: 10px;

  input {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 600px) {
  .home-title {
    font-size: 36px;
    line-height: 120%;
    margin-right: auto;
    margin-bottom: 20px;
    span {
      color: #e73348;
      font-size: 36px;
      display: block;
    }
  }
}

@media screen and (max-width: 960px) {
  .search-wrap {
    align-self: flex-start;
    width: 100%;
    max-width: 500px;
  }
}
</style>