<template>
  <v-row align="center" justify="center">
    <v-col cols="12" sm="8" md="4">
      <v-card flat class="login-card">
        <div class="login-title">Log In</div>
        <v-card-text>
          <v-form v-model="valid" ref="form" validation>
            <v-text-field
              label="Login"
              name="login"
              solo
              type="email"
              height="70px"
              v-model="email"
              :rules="emailRules"
            />

            <v-text-field
              id="password"
              label="Password"
              name="password"
              solo
              height="70px"
              type="password"
              :counter="6"
              v-model="password"
              :rules="passwordRules"
            />
          </v-form>
        </v-card-text>

        <v-card-text class="forgot-password">
          <span>Forgot your password?</span>
          <router-link class="my-link" to="#">Reset by email</router-link>
        </v-card-text>
        <v-card-actions>
          <v-btn
            class="login-btn"
            color="#E73348"
            @click="onSubmit"
            :loading="loading"
            block
            height="70px"
            :disabled="!valid || loading"
          >Login</v-btn>
        </v-card-actions>

        <v-card-text class="other-login">Or Log In with</v-card-text>
        <v-card-actions d-flex style="Justify-content: space-between">
          <v-btn class="fb-btn" color="#4968AD" height="70px" outlined>
            <v-icon>mdi-facebook</v-icon>facebook
          </v-btn>
          <v-btn class="gl-btn" color="#E73348" height="70px" outlined>
            <v-icon>mdi-google</v-icon>google
          </v-btn>
        </v-card-actions>
        <v-card-text class="no-account">
          <span>Don’t have an account yet?</span>
          <router-link class="my-link" to="#">Sign up</router-link>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
const emailRegex = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/;

export default {
  name: "Login",
  data() {
    return {
      email: "",
      password: "",
      valid: false,
      emailRules: [
        v => !!v || "E-mail is required",
        v => emailRegex.test(v) || "E-mail must be valid"
      ],
      passwordRules: [
        v => !!v || "Password is required",
        v =>
          (v && v.length >= 6) ||
          "Password must be equal or more than 6 characters"
      ]
    };
  },
  created() {
    localStorage.removeItem("user");
    this.$store.dispatch("logoutUser");
  },
  computed: {
    loading() {
      return this.$store.getters.loading;
    }
  },
  methods: {
    onSubmit() {
      if (this.$refs.form.validate()) {
        const user = {
          email: this.email,
          password: this.password,
          name: "John Dou"
        };

        localStorage.user = JSON.stringify(user);
        this.$store.dispatch("loginUser", user);
        this.$router.push("/");
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.login-card {
  max-width: 352px;
  margin: 0 auto;

  .login-title {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
  }

  .no-account,
  .forgot-password {
    text-align: center;
    span {
      margin-right: 10px;
      color: #311746;
      font-size: 18px;
      line-height: 136%;
    }
  }

  .login-btn {
    color: #fff;
  }

  .other-login {
    color: #311746;
    font-size: 24px;
    line-height: 136%;
    text-align: center;
  }

  .my-link {
    color: #e73348;
    font-size: 18px;
    line-height: 136%;
  }

  .fb-btn,
  .gl-btn {
    font-size: 16px;
    font-weight: bold;
    flex-grow: 1;
  }
}
</style>