<template>
  <v-container>
    <h1>Privacy</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur
      consequat lacus, in consectetur diam pulvinar eu. Aenean in ornare dui, ut
      ultrices libero. Sed enim diam, faucibus sed congue vitae, sagittis ut orci.
      Ut porttitor finibus turpis, sit amet tincidunt leo laoreet elementum. Praesent
      in laoreet arcu. Nullam molestie scelerisque justo feugiat fringilla. Aliquam
      erat volutpat. Duis viverra vehicula luctus. Cras dapibus porta sem eu accumsan.
      Donec pharetra risus vel blandit iaculis. Nulla at blandit ex, vitae porta elit.
    </p>
    <p>
      Proin non mi magna. Nam rutrum euismod dolor, vel sollicitudin lacus. Nunc rutrum
      leo ut lacus ultricies efficitur. Nam rutrum, lectus sit amet maximus vestibulum,
      ex libero varius purus, nec aliquam sem magna ac lectus. Maecenas quis luctus arcu,
      eget ultricies neque. Nam semper lobortis est, eget dignissim sem dictum ut. Duis
      vitae velit dictum, gravida risus porttitor, dapibus erat. In fermentum massa non
      lorem malesuada, aliquet lacinia arcu bibendum. Fusce non felis pretium, ornare
      enim a, convallis velit. Morbi vel ornare nunc, at aliquam leo.
    </p>
  </v-container>
</template>

<script>
export default {
  name: "Privacy",
  components: {}
};
</script>