<template>
  <div class="persons-carousel">
    <v-progress-circular v-if="loading" indeterminate size="64"></v-progress-circular>
    <carousel
      class="car"
      v-else
      :nav="false"
      :lazyLoad="true"
      :dots="false"
      :mouseDrag="false"
      :responsive="{ // carousel brackpoints
          0 : {
            items: 1,
            margin: 20,
            stagePadding: 50
          },
          560 : {
            items: 1,
            margin: 25,
            stagePadding: 90
          },
          650 : {
            items: 1,
            margin: 25,
            stagePadding: 120
          },
          767: {
            items: 2,
            margin: 25,
            stagePadding: 128
          },
          900: {
            items: 2,
            margin: 25,
            stagePadding: 180
          },
          1100: {
            items: 3,
            margin: 30,
            stagePadding: 128
          },
          
          1440 : {
            items: 4,
            margin: 32,
            stagePadding: 128
          },
      }"
    >
      <template slot="prev">
        <span class="prev"></span>
      </template>

      <v-card class="carousel-card default-card d-flex flex-column justify-end">
        <v-card-title class="item-title">Want to be a featured creator?</v-card-title>
        <v-card-text class="card-desc">Start by creating your own community</v-card-text>

        <v-card-actions>
          <v-btn
            class="default-card-btn"
            block
            height="64px"
            color="#FFF7F7"
            @click.stop="showSnackbar = true"
          >Create Community</v-btn>
        </v-card-actions>
      </v-card>

      <v-card v-for="person in persons" :key="person.title" class="carousel-card">
        <v-hover v-slot:default="{ hover }">
          <v-img
            class="white--text align-end item-img"
            min-height="100%"
            min-width="100%"
            :src="require(`@/assets/persons/${person.img}`)"
          >
            <v-card-title class="item-title">{{ person.title }}</v-card-title>
            <v-card-text class="card-desc">{{ person.description }}</v-card-text>

            <v-card-actions>
              <v-btn
                class="item-btn"
                block
                :outlined="person.special ? true : false"
                height="64px"
                color="#E73348"
                @click.stop="showSnackbar = true"
              >Join community</v-btn>
            </v-card-actions>
            <v-expand-transition>
              <div
                v-if="hover"
                class="d-flex transition-fast-in-fast-out darken-2 v-card--reveal display-3"
                style="height: 100%;"
              ></div>
            </v-expand-transition>
          </v-img>
        </v-hover>
      </v-card>

      <template slot="next">
        <span class="next"></span>
      </template>
    </carousel>

    <v-snackbar v-model="showSnackbar">
      {{ snackbarText }}
      <v-btn color="pink" text @click="showSnackbar = false">Close</v-btn>
    </v-snackbar>
  </div>
</template>



<script>
import { mapGetters } from "vuex";
import carousel from "vue-owl-carousel";

export default {
  name: "Carousel",
  props: {
    searchText: String
  },
  data() {
    return {
      loading: false,
      showSnackbar: false,
      snackbarText: "You just joined the community"
    };
  },
  components: { carousel },
  created() {
    this.loading = true;
    this.$store.dispatch("fetchPersons").then(() => {
      this.loading = false;
    });
  },
  computed: {
    ...mapGetters(["persons"]),

    filteredPersons() {
      return this.persons.filter(person => {
        return person.title
          .toLowerCase()
          .includes(this.searchText.toLowerCase());
      });
    }
  }
};
</script>






<style scoped lang="scss">
.persons-carousel {
  max-width: 1440px;
  margin: 0 auto 50px;
}
.v-progress-circular {
  margin: 0 auto;
  display: block;
}
.owl-item {
  .carousel-card {
    opacity: 0.6;
  }

  &.active .carousel-card {
    opacity: 1;
  }
}
.carousel-card {
  background: linear-gradient(0deg, #171717 20.12%, rgba(23, 23, 23, 0) 100%);
  height: 430px;
  width: 256px;

  &.default-card {
    background: none;
    background-color: #e73348;
    color: #ffffff;

    .item-title {
      line-height: 136%;
    }
  }

  .item-title {
    font-size: 30px;
  }

  .v-card__text,
  .v-card__title {
    word-break: normal;
  }

  .card-desc {
    max-height: 48px;
    overflow: hidden;
    transition: max-height 0.2s ease-in;
    font-size: 18px;
  }

  .item-btn {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }

  .default-card-btn {
    color: #e73348;
    font-size: 16px;
    font-weight: bold;
  }

  &:hover {
    .item-img {
      background: linear-gradient(
        0deg,
        #171717 63.95%,
        rgba(23, 23, 23, 0) 100%
      );
    }

    .card-desc {
      max-height: 200px;
    }
  }
}
.car {
  position: relative;
}
.prev,
.next {
  background-color: #e73348;
  background-position: center;
  border-radius: 50%;
  height: 70px;
  position: absolute;
  top: calc(50% - 35px);
  width: 70px;
  z-index: 3;
}
.prev {
  background-image: url("../assets/icons/left-arrow.png");
  left: 45px;
}
.next {
  background-image: url("../assets/icons/right-arrow.png");
  right: 45px;
}

.theme--light.v-card > .v-card__text,
.theme--light.v-card .v-card__subtitle {
  color: #fff;
}

.v-card--reveal {
  background: linear-gradient(0deg, #171717 63.95%, rgba(23, 23, 23, 0) 100%);
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  z-index: -1;
}

@media screen and (max-width: 600px) {
  .prev,
  .next {
    height: 64px;
    top: -225px;
    width: 64px;
  }
  .prev {
    right: 94px;
    left: auto;
  }
  .next {
    right: 20px;
  }
}

@media screen and (max-width: 960px) {
  .persons-carousel {
    margin-bottom: 340px;
  }
}
</style>