<template>
  <v-footer padless class="app-footer white">
    <v-container>
      <v-card flat tile width="100%" class="d-flex flex-column flex-md-row">
        <v-card-text class="footer-block footer-btns" v-if="isUserLoggedIn">
          <v-btn
            v-for="link in links"
            :key="link.url"
            class="footer-btn"
            :to="link.url"
            text
          >{{ link.title }}</v-btn>
        </v-card-text>

        <v-spacer class="d-none d-sm-flex"></v-spacer>

        <v-card-text class="footer-right-text footer-block">Locals.com Ⓡ 2020</v-card-text>
      </v-card>
    </v-container>
  </v-footer>
</template>

<script>
export default {
  name: "Footer",

  data: () => ({
    links: [
      { title: "Privacy & Terms", url: "/privacy" },
      { title: "TL;DR", url: "/tldr" },
      { title: "Policy", url: "/policy" }
    ]
  }),
  computed: {
    isUserLoggedIn() {
      return this.$store.getters.isUserLoggedIn;
    }
  }
};
</script>

<style lang="scss" scoped>
.footer-btn {
  font-size: 16px;
  color: #311746;
  text-transform: capitalize;
}

.footer-right-text {
  color: #311746;
  opacity: 0.5;
  text-align: right;
}

.footer-bar {
  height: 20px;
}

.app-footer {
  height: 80px;
}

@media screen and (max-width: 600px) {
  .app-footer {
    height: 180px;
  }
}

@media screen and (max-width: 960px) {
  .footer-right-text,
  .footer-btns {
    text-align: center;
    padding: 10px 16px;
  }
}
</style>