<template>
  <v-app-bar app class="top-bar" height="120px" flat color="white">
    <v-container d-flex>
      <!-- header logo  -->
      <router-link to="/">
        <v-img
          class="header-logo"
          src="@/assets/Smaller.png"
          height="55px"
          position="left"
          contain
          :to="isUserLoggedIn ? '/' : '/login'"
          alt="locals logo"
        ></v-img>
      </router-link>

      <!-- header right block  -->
      <v-sheet v-if="isUserLoggedIn" class="header-right-block d-none d-sm-flex">
        <div class="header-user-info">
          <div class="hello">Hello</div>
          <div class="username">{{userName.name}}</div>
        </div>

        <v-menu bottom left>
          <template v-slot:activator="{ on }">
            <v-btn
              tile
              color="#e73348"
              icon
              class="header-btn"
              width="30px"
              height="30px"
              v-on="on"
            >
              <v-icon>mdi-menu-down</v-icon>
            </v-btn>
          </template>
          <!-- header btn menu  -->
          <v-list>
            <v-list-item v-for="(item, i) in items" :key="i" :to="item.url">
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-sheet>
    </v-container>
  </v-app-bar>
</template>

<script>
export default {
  name: "Header",

  data: () => ({
    items: [
      { title: "privacy & Terms", url: "/privacy" },
      { title: "tl;dr", url: "/tldr" },
      { title: "policy", url: "/policy" },
      { title: "logout", url: "/login" }
    ]
  }),
  computed: {
    isUserLoggedIn() {
      return this.$store.getters.isUserLoggedIn;
    },
    userName() {
      return this.isUserLoggedIn ? JSON.parse(localStorage.user) : null;
    }
  }
};
</script>

<style scoped lang="scss">
.header-right-block {
  margin-left: auto;
  display: flex;
  height: 50px;
}
.header-user-info {
  color: #e73348;
  margin-right: 10px;
  width: 136px;
  .hello {
    line-height: 19px;
  }
  .username {
    font-size: 16px;
    font-weight: bold;
    line-height: 31px;
    overflow: hidden;
  }
}
.header-btn {
  border: 1px dashed grey;
  align-self: center;
}
</style>