<template>
  <v-app>
    <!-- Header -->
    <Header />

    <!-- Content -->
    <Content />

    <!-- Footer -->
    <Footer />
  </v-app>
</template>

<script>
import Header from "./components/Header";
import Content from "./components/Content";
import Footer from "./components/Footer";

export default {
  name: "App",

  components: {
    Header,
    Content,
    Footer
  },

  data: () => ({}),
  mounted() {
    if (!localStorage.user && this.$router.currentRoute.name !== "login") {
      this.$router.replace({ name: "login" });
    }
  }
};
</script>

<style lang="scss">
* {
  font-family: "Noir Pro", sans-serif;
  font-size: 14px;
}
.container {
  max-width: 1334px;
}
</style>